@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

header {
  background-color: #ff69b4;
  height: 118px;
  width: 1216px;
  color: #e4eef1;
  padding: 0 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    a {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  h1 {
    font-size: 28px;
    font-weight: 38;
    color: #e4eef1;
    text-transform: uppercase;
    margin: 0 3px;
    cursor: default;
  }
  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 80px;
      li {
        a {
          font-size: 28px;
          font-weight: 38;
          color: #e4eef1;
          text-transform: uppercase;
        }
      }
    }
  }
}

main {
  width: 1216px;
  height: 377px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .secao1 {
    background-color: #ffd9ec;
    width: 1216px;
    height: 377px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .texto1 {
      cursor: default;
      width: 586px;
      height: 265px;
      font-size: 25px;
      font-weight: 34;
      line-height: 1.5;
      color: #000;
      text-align: justify;
    }
    img {
      width: 365px;
      height: 355px;
    }
  }
  .secao2 {
    background-color: #ff69b4;
    width: 1216px;
    height: 262px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .texto2 {
      cursor: default;
      width: 648px;
      height: 174px;
      font-size: 25px;
      font-weight: 34;
      line-height: 1.35;
      color: #e4eef1;
      text-align: justify;
    }
    img {
      width: 421px;
      height: 234px;
    }
  }
  .secao3 {
    background-color: #ffd9ec;
    width: 1216px;
    height: 426px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 250px;
      height: 250px;
    }
  }
}

footer {
  background-color: #ff69b4;
  display: flex;
  align-content: center;
  .rodape {
    height: 143px;
    width: 1216px;
    color: #e4eef1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .social {
      display: flex;
      gap: 27px;
      img {
        width: 48px;
        height: 48px;
      }
    }
    .dados {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      a {
        font-size: 20px;
        font-weight: 27;
        line-height: 1.5;
        color: #e4eef1;
      }
    }
    .emblema {
      img {
        width: 105px;
        height: 109px;
      }
    }
  }
}
